.main-nav {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  background: $primary;
  width: 100%;
  max-width: 271px;
  height: calc(100vh);
  border-bottom-left-radius: 30px;
  padding: 16px;

  transform: translateX(100%);
  transition: all 0.2s ease-in-out;

  &.open {
    transform: translateX(0);
  }

  &__above {
    padding-bottom: 20px;
  }

  &__below {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $white;

    a {
      margin-bottom: 20px;
      font-size: 1.125rem;
      color: $white !important;
      text-decoration: none;

      &.router-link-exact-active {
        font-weight: 700;
      }
    }
  }
}

.profile-nav,
.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;

  a,
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 200px;
    width: 157px;
    height: 157px;
  }

  div {
    border-color: $black;
  }
}

.close-nav {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;

  i {
    cursor: pointer;
  }
}

.page-nav {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;

  &__container {
    display: flex;
    justify-content: space-between;
    padding-left: 0px !important;
    width: 100%;
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: block;
    transition: all 0.2s ease-in-out;
    color: $black !important;
    font-size: 16px;
    padding: 5px 15px;

    &--selected {
      color: $white !important;
      background: $black;
      border-radius: 50px;
    }
  }
}

@media (min-width: 960px) {
  .main-nav {
    margin-top: 12px;
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
    border-radius: 30px;
    height: calc(100vh - 100px);
    transform: translate(0);
  }
}
